name: Specs
permissions:
  contents: read
on:
- pull_request
jobs:
  specs:
    name: specs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu ]
        ruby: [ "3.2", "3.3", "3.4", "4.0" ]
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: ./specs.sh
    - run: ./quality.sh
